@import "tailwindcss";

#root {
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
}

input[type="checkbox"] {
  accent-color: color-mix(in oklab, var(--color-white) /* #fff = #ffffff */ 30%, transparent);
}
